.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./images/aboutPageUkBank.avif);
    background-size: cover;
    min-height: 450px;
    opacity: 0.5;
    z-index: 0;
}
.banner h1{
    position: relative;
    z-index: 1;
    font-family: "Playfair Display";
    font-size: 9em;
    color: #062f4d;
    opacity: 0.8;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    margin-top: 80px;
    box-sizing: border-box;
}
.info h3{
    font-family: "Playfair Display";
    font-size: 1.85em;
    color: #0a4d75;
}
.info p{
    font-family: "DM Sans";
    color: #0a4d75;
}



@media(max-width: 768px){
    .banner{
        height: 250px;
        overflow: hidden;
    }
    .banner::before{
        min-height: 250px;
        background-position: center center;
    }
    .banner h1{
        font-size: 4em;
        padding: 0 15px;
    }

    .info{
        margin-top: 15px;
        padding: 0 15px;
    }
}