body{
    margin: 0 auto;
    background-color: #EEF6FA;
}

.container{
    background-image: url(./images/navbarBackground.png);
    height: 350px;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#bankLogo{
    height: 70px;
    width: 70px;
    border-radius: 14px;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#brandTitle{
    font-family: "Inter";
    font-weight: 300;
    color: #0a4d75;
}
.links{
    display: flex;
    gap: 22px;   
}
.links a{
    text-decoration: none;
    font-family: "Inter";
    font-weight: 350;
    color: #0a4d75;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome h1{
    font-family: "Playfair Display";
    font-size: 5em;
    color: #062f4d;
}
.welcome p{
    font-family: "DM Sans";
    font-size: 1.2em;
    color: #062f4d;
    margin-top: -30px;
}