body{
    margin: 0 auto;
    background-color: #EEF6FA;
}

.container{
    background-color: #c2e3f5;
    height: 350px;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#bankLogo{
    height: 70px;
    width: 70px;
    border-radius: 14px;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#brandTitle{
    font-family: "Inter";
    font-weight: 300;
    color: #0a4d75;
}
.links{
    display: flex;
    gap: 22px;   
}
.links a{
    text-decoration: none;
    font-family: "Inter";
    font-weight: 350;
    color: #0a4d75;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome h1{
    font-family: "Playfair Display";
    font-size: 5em;
    color: #062f4d;
}
.welcome p{
    font-family: "DM Sans";
    font-size: 1.2em;
    color: #062f4d;
    
}

footer{
    background-color: #c2e3f5;
    height: fit-content;
    margin-top: 200px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'Inter';
    color: #0a4d75;
    font-size: 0.7em;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

@media(max-width: 768px){
    .welcome h1{
        font-size: 2.5em;
    }
    .welcome p{
        font-size: 1em;
        margin-top: 0;
    }
    
    .container{
        height: auto;
    }
    
    .navbar{
        padding: 8px;
    }
    footer{
        margin-top: 60px;
    }
}