.accounts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.accounts img{
    width: 100%;
    max-width: 1200px;
    opacity: 0.7;
}
#accountInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
#accountInfo h2{
    font-size: 2.5em;
    font-family: "Playfair Display";
    color: #062f4d;
}
#accountInfo p{
    font-family: "DM Sans";
    font-size: 1.15em;
    color: #0a4d75;
}



.lending{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.lending img{
    width: 100%;
    max-width: 1200px;
    opacity: 0.7;
}
#lendingInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
#lendingInfo h2{
    font-size: 2.5em;
    font-family: "Playfair Display";
    color: #062f4d;
}
#lendingInfo p{
    font-family: "DM Sans";
    font-size: 1.15em;
    color: #0a4d75;
}



.everydayBanking{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.everydayBanking img{
    width: 100%;
    max-width: 1200px;
    opacity: 0.7;
}
#everydayBankingInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
#everydayBankingInfo h2{
    font-size: 2.5em;
    font-family: "Playfair Display";
    color: #062f4d;
}
#everydayBankingInfo p{
    font-family: "DM Sans";
    font-size: 1.15em;
    color: #0a4d75;
}



.overdraft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.overdraft img{
    width: 100%;
    max-width: 1200px;
    opacity: 0.7;
}
#overdraftInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
#overdraftInfo h2{
    font-size: 2.5em;
    font-family: "Playfair Display";
    color: #062f4d;
}
#overdraftInfo p{
    font-family: "DM Sans";
    font-size: 1.15em;
    color: #0a4d75;
}



.specialisedServices{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.specialisedServices img{
    width: 100%;
    max-width: 1200px;
    opacity: 0.7;
}
#specialisedServicesInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
#specialisedServicesInfo h2{
    font-size: 2.5em;
    font-family: "Playfair Display";
    color: #062f4d;
}
#specialisedServicesInfo p{
    font-family: "DM Sans";
    font-size: 1.15em;
    color: #0a4d75;
}



footer{
    background-image: url(./images/navbarBackground.png);
    height: fit-content;
    margin-top: 200px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'Inter';
    color: #0a4d75;
    font-size: 0.7em;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

@media(max-width: 768px){
    #accountInfo h2, #lendingInfo h2, #everydayBankingInfo h2,
    #overdraftInfo h2, #specialisedServicesInfo h2 {
    font-size: 1.5em;
    }

    #accountInfo p, #lendingInfo p, #everydayBankingInfo p,
    #overdraftInfo p, #specialisedServicesInfo p {
    font-size: 1em;
    }

    #accountInfo, #lendingInfo, #everydayBankingInfo,
    #overdraftInfo, #specialisedServicesInfo {
        padding: 0 15px;
    }

    footer{
        margin-top: 60px;
    }
}